.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build
/captures
/reports
/.idea/codeStyleSettings.xml
/.idea/inspectionProfiles
/.idea/uiDesigner.xml
/app/gradle.properties
/app/src/main/res/drawable-*/wator_logo.png
/app/src/main/res/drawable-*/about_icon.png
/app/src/main/res/drawable-*/new_world_icon.png
/app/src/main/res/mipmap-*/wator_icon.png
/app/lib/junit-*.jar
/app/lib/hamcrest-*.jar
